<!-- nav -->
<div th:fragment="AdminNav">
    <nav class="navbar bg-warning navbar-expand-lg bg-opacity-75 mb-3">
        <div class="container">
            <a class="navbar-brand" th:href="@{/admin}">
                <img src="/img/InfoNewsLogo.png" alt="InfoNewsLogo" width="110" >
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active ms-4 my-2 fs-4" aria-current="page" th:href="@{/admin}"
                           >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active my-2 ms-4 fs-4" aria-current="page" th:href="@{/admin/cargar}">Cargar Noticia</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active my-2 ms-4 fs-4" aria-current="page" th:href="@{/admin/editar}">Editar Noticia</a>
                    </li>
                    <li class="nav-item">
                        <h4 class="nav-link active ms-4 my-2 fs-4" th:text="${logueado}">Raul Gomez</h4>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active btn btn-outline-dark text-warning m-2 ms-4 fs-4" type="button" aria-current="page" th:href="@{/logout}">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<!-- Footer -->
<div th:fragment="AdminFooter">
    <footer class="py-5 bg-warning bg-opacity-75 mt-5">
        <div class="container">
            <p class="m-0 text-center text-dark">
                Copyright &copy; InfoNews Application 2023
            </p>
        </div>
    </footer>
</div>