<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>News Egg</title>
        <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css}"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
            />
        <link rel="stylesheet" th:href="@{css/inicio.css}" />
    </head>
    <body class="bg-dark">
        <!--nav-->
        <div th:include="layout/template::nav"></div>

        <!-- card ultimas Noticias -->
        <div class="container text-left" >
            <div class="row align-items-start bg-warning rounded">
                <div th:each="noticia:${noticias}">
                    <div class="card m-2 col" style="width: 22rem" >
                        <img
                            src=""
                            class="card-img-top"
                            alt="..."
                            />
                        <div class="card-body" >
                            <h5 clas="card-title">
<!--                            <h5 class="card-title" th:text="${noticia.titulo}">-->
                                Ramón Dupuy: "A Lucio le prometimos luchar para cuidar a los
                                niños"
                            </h5>
                            <div  th:text="${noticia.cuerpo}">
                                Ramón Dupuy habló con CNN Radio sobre la sentencia en el caso por
                                el crimen de su nieto Lucio Dupuy."No estoy conforme con la
                                sentencia. Sí con la culpabilidad".
                            </div>
                            <a th:href="@{/}" class="btn btn-dark m-1"
                               >Leer completa</a
                            >
                        </div>
                    </div>
                </div>
            </div>

        <!-- card ultimas Noticias -->

        <!--        <div class="card col m-2" style="width: 22rem">
                  <img
                    src="https://www.cronista.com/files/image/499/499859/63aae90ae71a7.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">
                      Buenas noticias ANSES: se activa un nuevo plan compatible con AUH,
                      ¿cómo funciona?
                    </h5>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      Los titulares de la Asignación Universal por Hijo (AUH) van a
                      poder acceder al Plan Mi Baño, la nueva medida que impulsó el
                      Ministerio de Desarrollo Social. ¿Cómo solicitarlo?
                    </div>
                    <a href="#" class="btn btn-dark m-1">Leer completa</a>
                  </div>
                </div>
        
                 card ultimas Noticias 
        
                <div class="card col m-2" style="width: 22rem">
                  <img
                    src="https://fotos.perfil.com/2023/02/03/trim/1280/720/hector-daer-1503324.jpeg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">
                      "Paritarias responsables", el mensaje de Héctor Daer
                    </h5>
                    <div>
                      El representante de la CGT respaldó la segunda etapa del programa
                      y llamó "compañero" a Sergio Massa. Funes de Rioja, de la UIA, se
                      mostró optimista pero criticó la presión fiscal.
                    </div>
                    <a href="#" class="btn btn-dark m-1">Leer completa</a>
                  </div>
                </div>
              </div>
            </div>-->

        <!--footer-->
        <div th:include="layout/template::footer"></div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
